vendor/
composer.lock
storage/logs/*
storage/framework/cache/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
.env
.env.*
!.env.example
.git/
.gitignore
*.md
!README.md
tests/
phpunit.xml
.dockerignore
node_modules/
npm-debug.log
